{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/basic.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
                alt="room image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">Welcome to Basic Plan</h1>
            <p>Your home away from home, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit,
                enim quis consequuntur iure sunt explicabo asperiores quasi magnam officia, nesciunt ipsum quae
                accusantium repellat temporibus aspernatur? Non itaque animi odit.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint labore dolorem nostrum alias dolores
                accusantium illo rem? Placeat optio, numquam minus aliquam soluta corporis dicta amet sapiente neque
                nam ipsam.</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/make-reservation-gq" class="btn btn-success">Check Availability</a>
        </div>
    </div>

</div>

{{end}}